test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_test" doc:name="HTTP Listener config" doc:id="779ba93f-4542-40e5-9184-5ac362c4bf8f" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8941d3ab-bb9b-46dc-b76a-965011ad3f08" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Apisero@2021" database="org" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="d8010833-aeb0-46bc-9d3f-1dcb86149e89" file="application.properties" />
	<flow name="testFlow" doc:id="697849c8-88ea-4920-876e-8b523e5a8f9c" >
		<http:listener doc:name="Listener" doc:id="397506cf-9ca0-43ef-8c59-eced9be95a95" config-ref="HTTP_Listener_test" path="test" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="686364eb-41a3-45d9-939e-4b41419990b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
     "firstname": "John",
     "lastname": "Smith",
     "age": 25,
     "address":
     {
         "street": "21 2nd Street",
         "city": "New York"
     },
     "phone":
     [
         {
           "phoneType": "Mobile",
           "phoneNumber": "212 555-1234"
         },
         {
           "phoneType": "Phone",
           "phoneNumber": "646 555-4567"
         }
     ]
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fdac48cf-c7a8-455e-810d-417e13590a1c" message="#[payload]"/>
	</flow>
</mule>
